@import "variables";

.teaser.requirements {
  .ce_accordionStart.ce_accordion {
   /* margin: 20px auto;*/
    .toggler {
      position: relative;
      padding: 25px 70px;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      margin: 15px auto;
      font: normal normal 600 24px/30px Inter;
      background: #197560 url("/files/assets/layout/arrow-down-white.svg") no-repeat 2%;
      background-size: auto 18px;
      transition: background-color 250ms;
      &.active {
        background-image: url("/files/assets//layout/arrow-up-white.svg");
        background-color: #002D42
      }
      &:hover {
        background-color: #002D42;
      }
    }
    .accordion {
      .ce_text {
        margin: 0 auto;
        padding: 0 70px;
      }
    }
    &:last-child {
      padding-bottom: 65px;
    }
  }
}

.teaser .ce_accordionStart.ce_accordion {
  display: none;
}

.teaser.requirements .ce_accordionStart.ce_accordion {
  display: block;
}

@media screen and (max-width: 1100px) {
  .teaser.requirements {
    .ce_accordionStart.ce_accordion {
      margin: 0 auto;
      word-break: break-word;
      .toggler {
        font: normal normal 600 18px/30px Inter;
        padding: 10px 50px;
        background-size: auto 14px;
      }
      &:last-child {
        padding-bottom: 20px;
      }
      .accordion .ce_text {
        padding: 0;
      }
    }
  }

  .teaser {
    .ce_accordionStart.ce_accordion {
      margin: 110px auto;
      overflow: visible;
      display: block;
      .toggler {
        position: relative;
        padding: 50px 0;
        color: #b8baba;;
        cursor: pointer;
        text-align: center;
        border-top: 4px solid;
        font: normal normal 400 24px/28px Inter;
        text-transform: uppercase;
        &:before {
          content: "";
          position: absolute;
          top: -50%;
          transform: translate(-50%, -50%);
          left: 50%;
          height: 100px;
          width: 100px;
        }
        &:after {
          content: "";
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          width: 50px;
          height: 50px;
          background: url("/files/assets/layout/arrow-down.svg") no-repeat 0/cover;
        }
        &.active {
          color: $green;
          &:after {
            background: url("/files/assets/layout/arrow-up.svg") no-repeat 0/cover;
          }
          &:before {
            filter: brightness(0) saturate(100%) invert(30%) sepia(11%) saturate(4421%) hue-rotate(123deg);
          }
        }
      }
      &:nth-child(2)  .toggler:before {
        background: url("/files/assets/layout/Feste.svg") no-repeat 0/contain;
      }
      &:nth-child(3) .toggler:before {
        background: url("/files/assets/layout/Sport.svg") no-repeat 0/contain;
      }
      &:nth-child(4) .toggler:before {
        background: url("/files/assets/layout/Kultur.svg") no-repeat 0/contain;
      }
      &:nth-child(5)  .toggler:before {
        background: url("/files/assets/layout/Kinder.svg") no-repeat 0/contain;
      }
      .accordion {
        .ce_text {
          margin: 0 auto;
          padding-bottom: 30px;
        }
      }
    }
  }

  .teaser.requirements .ce_accordionStart.ce_accordion .toggler {
    text-align: left;
    &:before, &:after {
      display: none;
    }
  }
}


