@import 'variables';

#calculator {
  margin-top: -64px;
  position: relative;
  > .ce_text:first-child {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: #00664fdd;
    padding: 20px 0 20px 65px;
    box-sizing: border-box;
    h2 {
      margin: 0;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      padding-bottom: 16px;
      border-bottom: 2px solid white;
      display: inline;
      font-size: 22px;
    }
  }
  .ce_tabcontrol {
    display: flex;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: $green;
    clip-path: polygon(100% 0px, 100% 93%, 96.9% 100.00%, 0px 100%, 0px 0px);
    .tabcontrol_tabs {
      width: 20%;
      ul {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          cursor: pointer;
          background-color: rgba(255,255,255,.8);
          color: $green;
          transition: background-color 250ms;
          &.selected {
            background-color: transparent;
            color: white;
            cursor: initial;
            &:hover {
              background-color: transparent;
            }
          }
          &:hover {
            background-color: rgba(255,255,255,.6);
          }
        }
      }
    }
    .tabcontrol_panes {
      width: 80%;
    }
  }
  .select-wrapper {
    position: relative;
    width: 220px;
    transform: translateY(-8px);
    select {
      background: white;
      border: none;
      padding: 7px 12px;
      color: $green;
      cursor: pointer;
    }
    .select-selected {
       background-color: #529989;
    }
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }
    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }
    .select-items {
      position: absolute;
      background-color: #529989;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }
    .select-hide {
      display: none;
    }
    .select-items div:hover, .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

#calculator .ce_form {
  padding: 30px;
  height: 330px;
  display: flex;
  align-items: center;
  form {
    width: 100%;
    height: 100%;
    .formbody {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
    .widget {
      label {
        color: white;
        &.flex {
          display: flex;
          align-items: center;
        }
      }
    }
    .widget-select {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
    }
    .widget-text {
      height: 35px;
      padding: 10px 38px;
      label {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        opacity: .7;
        width: 110px;
      }
      input {
        width: 65px;
        outline: none;
        padding: 5px;
        color: white;
        background: #99c2b8;
        border: none;
        &[type=number] {
          -moz-appearance: textfield;
          &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        &.readonly {
          cursor: default;
          background: transparent;
          border: none;
          color: white;
        }
      }
      &.flex {
        display: flex;
      }
    }
  }
  .calculator-select-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
  }
  .widget-submit {
    margin-left: auto;
    padding: 20px 40px;
    clip-path: polygon(100% 0px, 99.69% 70.27%, 97.07% 98.49%, 0px 100%, 0px 0px);
    button {
      display: block;
      width: 185px;
      margin-left: auto;
      padding: 5px;
      border: none;
      background: white;
      color: $green;
      text-transform: uppercase;
      clip-path: polygon(100% 0px, 99.69% 70.27%, 95.99% 98.49%, 0px 100%, 0px 0px);
      cursor: pointer;
      pointer-events: none;
      opacity: .5;
      transition: color 250ms, background-color 250ms;
      &:hover {
        background-color: rgba(255,255,255,.4);
        color: white;
      }
      &.active {
        pointer-events: initial;
        opacity: 1;
      }
    }
  }
  fieldset {
    border: none;
    padding: 0;
    width: 100%;
    margin: 0;
    &.zweitarif {
      display: flex;
      legend {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0 0 20px;
      }
    }
    &.flex {
      display: flex;
      align-items: center;
      .widget-text {
        display: flex;
        width: 189px;
        &:last-child {
          display: flex;
          padding: 0;
          input {
            width: 180px;
          }
        }
      }
      .widget-radio {
        width: 200px;
        legend {
          text-transform: uppercase;
          opacity: .8;
          display: block;
          height: 30px;
        }
      }
    }
  }
  .widget-radio {
    fieldset {
      padding: 15px;
      box-sizing: border-box;
      > span {
        margin: 10px 0;
      }
      span:not(:last-child) {
        margin-right: 10px;
      }
      input {
        display: none;
        &:checked + label span {
          background-color: $green;
        }
      }
      label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        span {
          position: absolute;
          left: 0;
          top: 1px;
          content: '';
          background: white;
          border-radius: 50%;
          border: 3px solid white;
          width: 9px;
          height: 9px;
        }
      }
      legend {
        color: white;
      }
    }
  }
}

.vertrag-form-article {
  .ce_form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    .formbody {
      fieldset {
        padding: 0;
        border: none;
        fieldset {
          .widget-text {
            &:first-child {
              margin: 0;
            }
            label {
              width: 100%;
              text-align: left;
              max-width: initial;
            }
          }
        }
      }
      .widget-text,.widget-select {
        margin: 20px 0;
        label {
          display: inline-block;
          width: 90%;
          max-width: 200px;
          box-sizing: border-box;
          text-transform: uppercase;
          color: $green;
          text-align: right;
          margin-right: 5px;
          font-weight: 500;
        }
        input {
          width: 90%;
          max-width: 250px;
          box-sizing: border-box;
          border: none;
          background: #529D8C;
          color: white;
          padding: 7px 10px;
          outline: none;
          cursor: pointer;
          transition: filter 250ms;
          &:hover {
            filter: brightness(1.2);
          }
        }
        &.widget-calendar {
          > div {
            width: 90%;
            max-width: 250px;
            display: inline-block;
          }
        }
      }
      .widget-radio {
        margin-top: 40px;
        fieldset {
          padding: 15px;
          box-sizing: border-box;
          span:not(:last-child) {
            margin-right: 10px;
          }
          input {
            display: none;
            &:checked + label span {
              background-color: $green;
            }
          }
          label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            span {
              position: absolute;
              left: 0;
              top: 1px;
              content: '';
              background: white;
              border-radius: 50%;
              border: 3px solid $green;
              width: 9px;
              height: 9px;
            }
          }
          legend {
            color: $green;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
      }
      .widget-explanation {
        margin-top: 60px;
        p {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          color: #666;
        }
      }
      .widget-submit {
        padding: 20px 40px;
        clip-path: polygon(100% 0px, 99.69% 70.27%, 97.07% 98.49%, 0px 100%, 0px 0px);
        button {
          display: block;
          width: 185px;
          margin-left: auto;
          padding: 5px;
          border: none;
          background: $green;
          color: white;
          text-transform: uppercase;
          clip-path: polygon(100% 0px, 99.69% 70.27%, 95.99% 98.49%, 0px 100%, 0px 0px);
          cursor: pointer;
          transition: filter 250ms;
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
  }
}

#zip-codes {
  display: none;
}

#household-number-icons {
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 180px;
  img {
    width: 19%;
    cursor: pointer;
    transition: opacity 250ms;
  }
}

.calculator-results {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  .calculator-result-card {
    width: 31%;
    border: 2px solid green;
    margin: 60px 0;
    h3 {
      margin-top: 0;
      background: $green;
      color: white;
      padding: 16px 18px;
      font-size: 20px;
      font-weight: 500;
    }
    h4 {
      padding: 0 20px;
    }
    ul {
      padding: 0 20px;
      li {
        position: relative;
        font-size: 14px;
        padding-left: 20px;
        &:before {
          content: '»';
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 10px;
          color: $green;
        }
      }
    }
    .tarif-button {
      padding: 0 20px;
      a {
        background: $green;
        color: white;
        margin: 10px 0;
        padding: 10px 40px;
        float: right;
        clip-path: polygon(100% 0px, 99.69% 70.27%, 92.87% 100.20%, 0px 100%, 0px 0px);
        transition: filter 250ms;
        &:hover {
          filter: brightness(1.2);
        }
      }
    }
    .result-card-footer {
      position: relative;
      text-align: right;
      padding: 0 20px;
      .result-card-amount {
        p {
          margin-bottom: 0;
          font-size: 15px;
        }
        span {
          font-size: 17px;
          color: $green;
          font-weight: bold;
        }
      }
      .result-card-layover {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        position: absolute;
        top: -150%;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 150%;
        background: $green;
        color: white;
        z-index: 50;
        transition: opacity 250ms;
        p {
          width: 100%;
          font-size: 14px;
          margin: 0;
          text-align: center;
          line-height: 1.7em;
        }
      }
      &:hover {
        .result-card-layover {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .vertrag-form-article .ce_form .formbody .widget-text label, .vertrag-form-article .ce_form .formbody .widget-select label {
    text-align: left;
  }

  #calculator .ce_tabcontrol {
    flex-wrap: wrap;
    .tabcontrol_tabs {
      width: 100%;
      ul li {
        width: 50%;
        height: 75px;
      }
    }
  }

  #household-number-icons {
    width: 200px;
    margin-top: 15px;
  }

  #calculator .ce_form {
    height: auto;
    fieldset.flex {
      flex-wrap: wrap;
      .widget-radio {
        width: 100%;
      }
      .widget-text {
        &:last-child {
          padding: 0 15px;
        }
        &:first-child {
          padding-bottom: 0;
        }
      }
    }
    .widget-text.flex {
      flex-wrap: wrap;
    }
    .widget-submit button {
      margin-left: 0;
    }
  }

  .radio_container > span {
    display: inline-block;
    margin: 5px 0;
  }


  /* layout.min.css,responsive.min.css,mobile-menu.min.css,fonts.scss...-500f9d0e.css | https://stadtwerke-leinefelde.de/assets/css/layout.min.css,responsive.min.css,mobile-menu.min.css,fonts.scss...-500f9d0e.css */

  .calculator-results {
    flex-wrap: wrap;
    .calculator-result-card {
      width: 100%;
    }
  }

}
