@import "variables";


#wrapper {
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font: normal normal 300 30px/28px Inter;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  text-transform: uppercase;
}

p {
  font: normal normal 400 22px/28px Inter;
}

.ce_headline {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  color: $green;
}

.header, .teaser, .footer, .video,
.teaser-contain, .download, .search-result,
.privacy, .news, .mod_newsreader {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

.pagination {
  ul {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 75px;
  right: 130px;
  cursor: pointer;
  z-index: 105;
  img {
    width: 70px;
  }
}

.mobile_menu_active {
 /* overflow-y: hidden;*/
  .inner {
    overflow-y: hidden;
  }
}

.error .mod_article {
  position: relative;
  height: 80vh;
  .ce_text {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font: normal normal 400 36px/40px Inter;
      color: $green;
      border-bottom: 2px solid $gray;
    }
    p {
      a {
        font: normal normal 400 22px/30px Inter;
        background-color: $green;
        clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
        padding: 10px 20px;
        color: white;
        text-transform: uppercase;
        transition: background-color 250ms, color 250ms;
        &:hover {
          background-color: $türkis;
          color: $darkblue;
        }
      }
    }
  }
}


@media screen and (max-width: 1100px) {
  h2 {
    font: normal normal 300 25px/30px Inter;
  }

  .error .mod_article .ce_text {
    p a {
      font: normal normal 400 13px/20px Inter;
    }
  }

  p {
    font: normal normal 400 18px/28px Inter;
  }
}