@import "variables";

.header-image {
  position: relative;
  height: 70vh;
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
}

.sticky-box .ce_text {
  z-index: 5;
  position: absolute;
  right: -450px;
  top: 45vh;
  transform: translateY(-50%);
  width: 491px;
  transition: right 250ms;
}

.sticky-box .ce_text {
  transition: margin-right 250ms;
  cursor: pointer;
  .sticky-icon {
    transition: .4s ease-in-out .2s;
    position: relative;
    left: 2px;
    top: 150px;
    float: left;
    background-color: $green;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 3px 6px #00000029;
    img {
      width: 50%;
      margin-top: 6px;
      cursor: pointer;
      margin-left: -8px;
    }
  }
  &:hover {
    margin-right: 318px;
  }
}

.sticky-box .ce_text:hover .sticky-icon img,
.sticky-box .ce_text:hover .sticky-icon1 img{
  margin-left: 0;
}


.sticky-box .ce_text table {
  border: 30px solid $green;
  transition: 0.4s ease-in-out 0.2s;
  border-collapse: collapse;
  background-color: $green;
  tr {
    text-decoration: none;
    border-bottom: 1px solid white;
    td {
      vertical-align: middle;
      color: white;
      text-transform: uppercase;
      a {
        font: normal normal 400 20px/50px Inter;
        text-decoration: none;
        color: white;
        transition: color  250ms;
        &:hover {
          color: $türkis;
        }
      }
    }
  }
}

.call-button {
  position: absolute;
  top: 23vh;
  left: 50%;
  width: 90%;
  max-width: $max-width;
  transform: translateX(-50%);
  z-index: 1;
  img {
    width: 180px;
  }
}

.box-block {
  margin: 0 auto 50px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .box {
    width: 33%;
    margin: 10px auto;
    box-sizing: border-box;
    clip-path: polygon(100% 0, 100% 93%, 94% 100%, 0 100%, 0 0);
    color: white;
    padding: 15px 20px;
    &:first-child {
      background: $gray;
    }
    &:nth-child(2) {
      background: $green;
    }
    &:nth-child(3) {
      background: linear-gradient(129deg, #00664F 0%, #07112B 100%) no-repeat;
    }
    &:last-child {
      background: $darkblue;
    }
    h3 {
      font: normal normal 300 28px/36px Inter;
      text-transform: uppercase;
      border-bottom: 1px solid white;
      padding: 20px 0 15px;
      display: inline-block;
      margin: 0;
    }
    p {
      font: normal normal 400 20px/28px Inter;
      a {
        font: normal normal 500 20px/35px Inter;
        color: white;
        position: relative;
        text-transform: uppercase;
        padding: 0 35px;
        transition: color 250ms;
        &:before {
          content: "";
          position: absolute;
          top: -2px;
          left: 0;
          height: 27px;
          width: 27px;
          background: url("/files/assets/layout/arrow-right.svg") no-repeat 0/contain;
        }
        &:hover {
          color: $türkis;
          &:before {
            background: url("/files/assets/layout/arrow-right-türkis.svg") no-repeat 0/contain;
          }
        }
      }
    }
  }
 }

.box-block.natur {
  max-width: 600px;
  .box {
    width: 49%;
  }
}

.press {
  padding-bottom: 60px;
}

.box-block.press .box {
  background-color: rgba(0,46,66, 0.92);
  h3 {
    font: normal normal 300 30px/28px Inter;
  }
  p {
    font: normal normal 300 19px/24px Inter;
  }
}

.teaser {
  .ce_text {
    text-align: center;
    margin: 80px auto;
    padding-bottom: 30px;
    h2 {
      border-color: $green;
      max-width: 650px;
      margin: 5px auto 30px;
      color: #00664f;
    }
    p {
      font: normal normal 400 22px/30px Inter;
      a {
        color: $darkblue;
        transition: color 250ms;
        &:hover {
          color: $green;
        }
      }
      strong {
        font-weight: 600;
      }
    }
    ul {
      text-align: left;
      font: normal normal 400 22px/28px Inter;
      li {
        padding-left: 20px;

        &:before {
          font-weight: 600;
          content: "»";
          position: absolute;
          margin-left: -20px;
          font-size: 22px;
          margin-top: -1px;
          color: $green;
        }
      }
    }
  }
  .ce_headline {
    margin: 50px auto 0;
  }
}

#electromobility.teaser .ce_text:first-child {
  margin: 0 auto;
}

.teaser .headline {
  margin: 30px auto 0;
}

.teaser.headline-image {
  h2 {
    display: inline-block;
    max-width: 100%;
    font: normal normal 300 30px/28px Inter;
  }
  .image_container {
    margin: 50px auto;
  }
}

.teaser-image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  &.spacing {
    padding-bottom: 50px;
  }
}

.image-left, .teaser-right {
  float: left;
  overflow: hidden;
  width: 50%;
  text-align: left;
  position: relative;
}

.image-left {
  .image_container {
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.teaser-right {
  background: transparent linear-gradient(139deg, #00664F 0%, #07112B 100%) no-repeat;
  color: white;
  clip-path: polygon(100% 0, 100% 88%, 92% 100%, 0 100%, 0 0);
  .ce_text {
    margin: 5% 8%;
    max-width: 500px;
    h2 {
      font: normal normal 300 30px/36px Inter;
    }
    p {
      font: normal normal 400 22px/30px Inter;
      padding: 10px 0;
      a {
        background: white;
        color: rgb(0,46,66);
        text-transform: uppercase;
        padding: 10px 30px 10px 90px;
        clip-path: polygon(100% 0, 100% 80%, 95% 100%, 0 100%, 0 0);
        position: relative;
        display: flex;
        max-width: 280px;
        font: normal normal 500 20px/24px Inter;
        transition: background-color 250ms;
        &:before {
          content: "";
          position: absolute;
          top: 8px;
          left: 53px;
          height: 27px;
          width: 27px;
          background: url("/files/assets/layout/arrow-right-green.svg") no-repeat;
        }
        &:hover {
          background-color: $türkis;
        }
      }
    }
    ul {
      font: normal normal 400 22px/28px Inter;
      li {
        padding-left: 20px;
        &:before {
          color: white;
          font-weight: 400;
          content: "»";
          position: absolute;
          margin-left: -20px;
          font-size: 22px;
          margin-top: -1px;
        }
      }
    }
    .border-bottom {
      border-bottom: 1px solid;
      padding-bottom: 20px;
    }
  }
}

.video {
  margin: 50px auto;
  padding: 100px 0;
}

.teaser-contain {
  background: rgba(0, 100, 78, 0.8);;
  transform: translateY(-70px);
  z-index: 3;
  position: relative;
  clip-path: polygon(100% 0, 100% 92%, 97% 100%, 0 100%, 0 0);
  padding: 15px 0;
  .ce_text {
    color: white;
    text-align: center;
    h2 {
      display: inline-block;
      margin: 0;
    }
    p {
      font: normal normal 400 22px/28px Inter;
      a {
        color: #ffffffcf;
        transition: color 250ms;
        &:hover {
          color: $green ;
        }
      }
    }

  }
}

.tabs-block {
  position: relative;
  height: 530px;
  margin: 53px auto;
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 24.5%;
  top: 0;
  left: 0;
}

.tab label {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  height: 200px;
  order: 1;
  cursor: pointer;
  font-weight: bold;
  transition: color 250ms;
  box-sizing: border-box;
  text-align: center;
  color: $gray;
  span {
    text-transform: uppercase;
    display: block;
    width: 100%;
    font: normal normal 300 30px/28px Inter;
    border-top: 4px solid;
    padding-top: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  img {
    width: 120px;
    height: 95px;
    margin-bottom: 10px;
    transition: filter 250ms;
  }
  &:hover {
    color: $green;
    img {
      /*filter: invert(1);*/
      filter: brightness(0) saturate(100%) invert(30%) sepia(11%) saturate(4421%) hue-rotate(123deg)
    }
  }
}

.tab .tab-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  width: 100%;
  padding: 10px 30px;
  font: normal normal 400 22px/28px Inter;
  opacity: 0;
  transition: opacity 500ms ease-out;
  box-sizing: border-box;
  height: 300px;
}
.tab input[type="radio"] {
  display: none;
}

.tab input[type="radio"]:checked + label{
  color: $green;
  & > img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(11%) saturate(4421%) hue-rotate(123deg)
  }

}
.tab input[type="radio"]:checked + label ~ .tab-content   {
  opacity: 1;
}

.bg-green {
  background: transparent linear-gradient(129deg, #00664F 0%, #07112B 100%) no-repeat;
  margin-bottom: 100px;
  clip-path: polygon(100% 0, 100% 92%, 97% 100%, 0 100%, 0 0);
  .ce_text {
    text-align: center;
    color: white;
    padding: 40px 0;
    h2 {
      display: inline-block;
    }
    p {
      font: normal normal 400 22px/28px Inter;
    }
    &:nth-child(2){
      padding-bottom: 100px;
    }
  }
}

.ce_download {
  box-sizing: border-box;
  clip-path: polygon(100% 0, 100% 85%, 94% 100%, 0 100%, 0 0);
  color: white;
  padding: 25px 20px 10px;
  background-color: rgba(0, 46, 66, 0.92);
  max-width: 380px;
  margin: 31px auto;
  h3 {
    font: normal normal 300 30px/28px Inter;
    text-transform: uppercase;
    border-bottom: 1px solid;
    display: initial;
  }
  p {
    font: normal normal 400 22px/28px Inter;
    a {
      color: white;
      position: relative;
      padding-left: 30px;
      transition: color 250ms;
     &:before {
       content: "";
       position: absolute;
       left: 0;
       top: 0;
       width: 30px;
       height: 23px;
       background: url("/files/assets/layout/Pfeil_down_white.svg") no-repeat;
     }
      &:hover {
        color: $türkis;
        &:before {
          background: url("/files/assets/layout/download_türkis.svg") no-repeat;
        }
      }
    }
  }
}

.teaser .advantages, .teaser .text-left {
  margin: 0 auto;
  strong {
    font-weight: 600;
  }
}

.teaser .text-left {
  text-align: left;
}

.teaser.left {
  .ce_text {
    text-align: left;
    h2 {
      text-align: center;
    }
  }
}

.privacy {
  margin: 60px auto;
  .ce_text {
    h2 {
      max-width: 500px;
      color: $green;
      margin: 5px auto;
      text-align: center;
    }
    p {
      font: normal normal 400 22px/28px Inter;
      a {
        color: $darkblue;
        transition: color 250ms;
        &:hover {
          color: $green;
        }
      }
      strong {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    ul {
      font: normal normal 400 22px/28px Inter;
      li {
        padding-left: 20px;
        &:before {
          font-weight: 600;
          content: "»";
          position: absolute;
          margin-left: -20px;
          font-size: 22px;
          margin-top: -1px;
          color: $green;
        }
      }
    }
  }
}

.teaser.requirements {
  .ce_text {
    text-align: left;
    margin: 60px auto 40px;
    padding-bottom: 0;
    h2 {
      text-align: center;
    }
    h3 {
      font: normal normal 600 24px/28px Inter;
      color: $green;
    }
    p {
      strong {
        font-weight: 600;
        text-transform: uppercase;
      }
      a {
        color: $darkblue;
        padding-left: 35px;
        position: relative;
        transition: color 250ms;
        &:before {
          content: "";
          position: absolute;
          top: 2px;
          left: 0;
          height: 22px;
          width: 24px;
          background: url("/files/assets/layout/arrow-right-green.svg") no-repeat
        }
        &:hover {
          color: $green;
          &:before {
            background: url("/files/assets/layout/arrow-right-türkis.svg") no-repeat;
          }
        }
      }
    }
    ul {
      font: normal normal 400 22px/45px Inter;
      li {
        padding-left: 35px;
        position: relative;
        transition: color 250ms;
        a {
          color: $darkblue;
          transition: color 250ms;
        }
        &:before {
          content: "";
          position: absolute;
          top: 11px;
          left: 25px                 ;
          height: 22px;
          width: 24px;
          background: url("/files/assets/layout/arrow-right-green.svg") no-repeat;
          transition: background 250ms;
        }
        &:hover {
          &:before {
            background: url("/files/assets/layout/arrow-right-türkis.svg") no-repeat;
          }
        }
      }
    }
  }
  h3.ce_headline {
    font: normal normal 600 24px/28px Inter;
    margin: 30px auto;
  }
}

#requirements.teaser.requirements .ce_text p a:hover,
#requirements.teaser.requirements .ce_text ul li a:hover{
  color: $türkis;
}


iframe {
  width: 100%;
  height: 60vh;
}

table {
  width: 100%;
  border-bottom: 1px solid $green;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font: normal normal 400 22px/30px Inter;
}

th,td {
  padding: 5px 10px;
  border: 0;
}

td {
  padding: 20px 10px;
}

.th {
  background: $green;
  font-weight: 600;
  text-align: center;
  color: white;
  td {
    padding: 5px 10px;
  }

}


@media screen and (max-width: 1100px) {
  .call-button {
    top: 50vh;
    img {
      width: 130px;
    }
  }
  .header-image {
    height: 100vh;
    img {
      height: 100vh;
    }
  }
  .box-block .box, .box-block.press .box {
    width: 100%;
    padding: 15px 13px;
    h3 {
      font: normal normal 300 25px/30px Inter;
    }
    p {
      font: normal normal 400 18px/28px Inter;
      a {
        font: normal normal 500 17px/33px Inter;
      }
    }
  }
  .teaser {
    .ce_text {
      padding-bottom: 0;
      margin: 40px auto;
    }
  }
  .image-left, .teaser-right {
    width: 100%;
  }
  .teaser-right .ce_text {
    width: 90%;
    margin: 30px auto;
    max-width: $max-width;
  }
  .video {
    padding: 0;
    width: 100%;
  }
  .sticky-box .ce_text {
    top: 60vh;
  }

  .tabs-block {
    display: none;
  }

  .teaser .ce_text p {
    font: normal normal 400 18px/28px Inter;
  }

  .teaser-right .ce_text p {
    font: normal normal 400 18px/28px Inter;
  }

  .teaser-right .ce_text h2 {
    font: normal normal 300 25px/36px Inter;
  }

  .sticky-box .ce_text {
    right: -360px;
    width: 400px;
    .sticky-icon {
      top: 115px;
    }
    table {
      border: 15px solid #00664F;
      tr td a {
        font: normal normal 400 16px/40px Inter;
      }
    }
  }
  .teaser-image.spacing {
    padding-bottom: 0;
  }
  .image-left .image_container img {
    height: 90vh;
  }
  .teaser-right {
    margin-top: -5px;
  }
  .teaser-contain {
    clip-path: polygon(100% 0, 100% 93%, 90% 100%, 0 100%, 0 0);
    transform: translateY(-60px);
  }

  table {
    font-size: 9px;
  }
  .th td , td{
    padding: 5px 0;
  }
}




