@import "variables";

.news {
  .ce_headline {
    margin: 50px auto;
    max-width: 500px;
    transform: translateX(0);
    left: 0;
    display: block;
  }
}

.mod_newslist, .mod_newsreader {
  padding-bottom: 65px;
  .layout_short, .layout_full {
    background: $darkblue;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    clip-path: polygon(100% 0, 100% 90%, 96% 100%, 0 100%, 0 0);
    h2 {
      display: inline-block;
      margin: 0;
      font: normal normal 300 30px/40px Inter;
      a {
        color: white;
       /* transition: color 250ms;
        &:hover {
          color: $türkis;
        }*/
      }
    }
    p {
      font: normal normal 400 22px/28px Inter;
    }
    .more {
      a {
        color: white;
        transition: color 250ms;
        &:hover {
          color: $türkis;
        }
      }
    }
  }
}

.mod_newsreader{
  .layout_full {
    margin: 20px auto;
    color: black;
    background: none;
    h2 {
      color: $green;
    }
    h3 {
      font: normal normal 600 22px/28px Inter;
      text-transform: uppercase;

    }
    p {
      font: normal normal 400 22px/28px Inter;
      a {
        color: $green;
      }
    }
    ul {
      font: normal normal 400 22px/28px Inter;
      li {
        padding-left: 20px;
        &:before {
          font-weight: 600;
          content: "»";
          position: absolute;
          margin-left: -20px;
          font-size: 22px;
          margin-top: -1px;
          color: $green;
        }
      }
    }
  }
  .back {
    font: normal normal 400 22px/28px Inter;
    a {
      color: $green;
      transition: color 250ms;
      &:hover {
        color: $darkblue;
      }
    }
  }
}